In [1]:
import pandas as pd

df = pd.read_csv("all_breweries_data.csv")
print(df.shape)
df.head()

(8408, 12)

,id,name,brewery_type,street,city,state,postal_code,country,longitude,latitude,phone,website_url
0,5128df48-79fc-4f0f-8b52-d06be54d0cec,(405) Brewing Co,micro,1716 Topeka St,Norman,Oklahoma,73069-8224,United States,-97.468182,35.257389,4058160490,http://www.405brewing.com
1,9c5a66c8-cc13-416f-a5d9-0a769c87d318,(512) Brewing Co,micro,407 Radam Ln Ste F200,Austin,Texas,78745-1197,United States,NaN,NaN,5129211545,http://www.512brewing.com
2,34e8c68b-6146-453f-a4b9-1f6cd99a5ada,1 of Us Brewing Company,micro,8100 Washington Ave,Mount Pleasant,Wisconsin,53406-3920,United States,-87.883364,42.720108,2624847553,https://www.1ofusbrewing.com
3,6d14b220-8926-4521-8d19-b98a2d6ec3db,10 Barrel Brewing Co,large,62970 18th St,Bend,Oregon,97701-9847,United States,-121.281706,44.086835,5415851007,http://www.10barrel.com
4,e2e78bd8-80ff-4a61-a65c-3bfbd9d76ce2,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,Bend,Oregon,97703-2465,United States,-121.328802,44.057565,5415851007,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8408 entries, 0 to 8407
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8408 non-null   object
 1   name          8408 non-null   object
 2   brewery_type  8408 non-null   object
 3   street        7651 non-null   object
 4   city          8408 non-null   object
 5   state         8408 non-null   object
 6   postal_code   8408 non-null   object
 7   country       8408 non-null   object
 8   longitude     6054 non-null   float64
 9   latitude      6054 non-null   float64
 10  phone         7557 non-null   object
 11  website_url   7204 non-null   object
dtypes: float64(2), object(10)
memory usage: 788.4+ KB

In [3]:
# Filter only USA-based breweries (most are already US)
df = df[df['country'].str.lower() == 'united states'].copy()
print(f"Remaining entries after filtering USA: {len(df)}")

Remaining entries after filtering USA: 8069

In [4]:
# Check for duplicates by brewery 'id'
duplicates = df.duplicated(subset='id', keep='first').sum()
print(f"Duplicate records found: {duplicates}")

# Remove duplicates
df = df.drop_duplicates(subset='id')
print(f"Data shape after duplicate removal: {df.shape}")

Duplicate records found: 0
Data shape after duplicate removal: (8069, 12)

In [ ]:
# Null summary
null_summary = df.isnull().sum().sort_values(ascending=False)
print(null_summary)

longitude       2348
latitude        2348
website_url     1143
phone            794
street           757
id                 0
name               0
brewery_type       0
city               0
state              0
postal_code        0
country            0
dtype: int64

In [6]:
# Clean postal_code to only keep 5-digit zip
df['postal_code'] = df['postal_code'].str.extract(r'(\d{5})')

In [ ]:
# Format phone numbers as (XXX) XXX-XXXX
df['phone'] = df['phone'].fillna('').apply(lambda x: f"({x[0:3]}) {x[3:6]}-{x[6:]}" if len(x) == 10 else x)

0       (405) 816-0490
1       (512) 921-1545
2       (262) 484-7553
3       (541) 585-1007
4       (541) 585-1007
             ...
8345    (970) 223-2482
8346    (813) 252-4541
8347    (720) 664-5280
8348    (605) 791-0411
8349    (310) 650-2474
Name: phone, Length: 8069, dtype: object

In [8]:
# Create geo-based dataset (for map visualizations only)
df_geo = df.dropna(subset=['latitude', 'longitude']).copy()

# Keep df as full version for stats
print(f"Total breweries: {len(df)}")
print(f"Breweries with valid lat/lon (for map): {len(df_geo)}")

Total breweries: 8069
Breweries with valid lat/lon (for map): 5721

In [11]:
df.to_csv('done_cleaning.csv', index=False)